<div class="head">
    <mat-toolbar color="primary">
        <span>Github Profile Viewer</span>
    </mat-toolbar>
</div>
<div class="snackbar" *ngIf="noData"></div>
<form class="username" [formGroup]="form">
    <mat-form-field>
        <input type="text" matInput placeholder="Username Please" formControlName="username" /> </mat-form-field><br />
    <button mat-raised-button color="primary" class="find" (click)="findMe()">
    Find Me
  </button>
</form>
<div class="loader" *ngIf="dataLoading">
    <mat-spinner></mat-spinner>
</div>
<div class="data" *ngIf="dataFound">
    <mat-card class="fillCard">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ name }}</mat-card-title>
            <mat-card-subtitle>{{ location }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="avatarUrl" />
        <mat-card-actions>
            <a href="{{htmlUrl}}" target="_blank">View in Github</a>
        </mat-card-actions>
    </mat-card>
</div>
<div class="noData" *ngIf="noData">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>No Data Found</mat-card-title>
        </mat-card-header>
    </mat-card>
</div>