html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.username {
    margin: 75px 0 0 40%;
    position: relative;
}

.find {
    width: 22%;
}

.fillCard {
    max-width: 400px;
    margin: auto;
}

.loader {
    margin-top: 5%;
    margin-left: 43%;
}

.card {
    width: 20%;
    margin-top: 5%;
    margin-left: 35%;
    padding-left: 10px 0 0 30px;
    text-align: center;
    height: 30px;
    background-color: rgb(161, 161, 236);
}

.snackBar {
    margin-top: 0;
}